// default configs for all pipelines; overrides per-pipeline configs
import groovy.json.JsonSlurper
import java.text.SimpleDateFormat
def jsonSlurper = new JsonSlurper()
SimpleDateFormat timestamp_fmt = new SimpleDateFormat("yyyy-MM-dd HH:mm:ss")
def currentDirPath = new File(System.getProperty("user.dir")).getCanonicalPath()
// ~~~~~~~~~~ PARAMETERS ~~~~~~~~~~ //
// configure pipeline settings
// overriden by CLI args
username = System.getProperty("user.name")
params.username = username
params.email_host = "nyumc.org"
params.email_from = "${username}@${params.email_host}"
params.email_to = "${username}@${params.email_host}"

manifest {
    author = 'Stephen Kelly, Varshini Vasudevaraja, Kelsey Zhu'
    homePage = 'https://github.com/NYU-Molecular-Pathology/NGS580-nf'
    description = 'NGS580 target exome analysis for 580 gene panel'
    mainScript = 'main.nf'
}

report {
    enabled = true
    file = "nextflow.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}

timeline {
    enabled = true
    file = "timeline.html"
}

notification {
    enabled = true
    to = "${params.email_to}"
    from = "${params.email_from}"
}


process {
    withName: mutect2 {
        executor = 'slurm'
        queue = 'intellispace'
        memory = 12.GB
        cpus = 4
        time = '12h'
        container = "container/GATK-4.1.simg"
    }
}

// Singularity config
process.module = "singularity/2.5.2"
singularity.enabled = true
singularity.autoMounts = true
